/*Övrigt*/

*{
  
}

body{
  width: 100vw;
  
}

.App{
  height: 100vh;
  background-color: rgb(58, 16, 120);
  
}



/*NavigationBar*/
#navigation_bar{
  display: flex;
 flex-direction: row;
  justify-content: flex-end ;
  height: 70px;
  
  
  position: fixed;
  top: 0px;
 
  background-color: rgb(78, 49, 170);
 margin: 0;
  padding: 0;
  width: 100%;
  gap: 10px;
 

}
#navigation_bar img{
  border-radius: 70%;
    margin-right: auto; 
    margin-left: 1em;
 
  
}

.navBarButtons{
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid black;
  margin-right: 1em;
}


/*FirstPage*/

#firstpageDay{
  color: white;
  margin: auto;
  margin-left: 10px;
}

.firstpage{
  margin-top: 80px;
}

#present-dog-container{
display: flex;
flex-direction: row;
overflow-x: auto;

}

.firstpage #dogImage{
  border: 5px solid rgb(64, 230, 64);
}

#present-todays li{
  background-color: white;
  padding: 15px;
  margin: 19px


}



 /*Welcome*/
 #welcomeImage{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid black;
  
  }

  #welcome-container{

   margin-top: 50%;
    align-items: center;
  }


   /*DetailedList:*/
   #bigtext{
   
      font-size: medium;
      color: beige;
    }
  
    #BigdogImage{
      width: 80vw;
      height: 80%;
      margin: 0 auto;
      border: 15px solid gold;

      
      }
      #dogPresentation{
        display: grid;
        grid-template-columns: 1fr;
        color: white;
      margin-top: 100px;


      }


      #textContainer{
       
        margin: auto;
        padding: auto;
        margin-left: 30%;
        font-size: 20px;
        color: white;
      }

      #textContainer li{
        list-style-type: none;
      }
      #dogPresentation p{
        font-size: 40px;
        margin: 0 auto;
        font-weight: bold;
       
      }

    
  

    /*Schedule:*/
    .header{
      font-size: large;
      text-align: start;
      font-weight: bold;
      color: white;
    }
    .grid-container ul li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid black;
      padding: 10px;
      border-bottom: 1px solid #020202;
      margin: 10px;
      
    }
    
    .grid-container li {
      
      list-style: none;
      width: 50%;
      margin: 0;
      padding: 0;
      background-color: #f1f1f1;
      border: 1px solid #020202;
      border-radius: 5px;
    }

    .grid-container {
      display: flex;
      flex-flow: column wrap;
      margin-top: 70px;
      grid-gap: 10px;
     
    }
    .grid-container ul{

      margin: 0;
      padding: 0;
      align-items: center;
    }




    /*ApiCall:*/

    #diven{
      background-color: #7a8f2f;
      margin-top: 100px;
    
      padding: 0 auto;
    }

    #dogImage{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid white;
     
    }

    .Ytterlista{
 

      
      margin: 0 auto;
     
      background-color: rgb(58, 16, 120);
      padding-inline-start: 0;
      padding-left: 15px;
      padding-right: 15px;
     
    }

    .listItem{
      display: grid;
      grid-template-columns: 1fr 1fr ;
    
     
      margin-bottom: 50px;
      margin: 20px;
      border-radius: 30px;
      padding-top: 40px;
      padding-bottom: 40px;
      padding: 20px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.624);
      background-image: linear-gradient(to top, #ffffff 0%, #ffffff 55%, rgb(178, 164, 255) 55%, rgb(178, 164, 255) 100%);
    }

    .in{
      
      width: 100%;
      border-radius: 20px;
      border: 4px solid red;
      background-color: rgba(255, 0, 0, 0.305);
     
      
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .out{
     
      width: 100%;
      border: 4px solid rgb(0, 128, 0);
      background-color: rgba(0, 128, 0, 0.271);
      border-radius: 20px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }


    #moreInfoButton{
      border-radius: 20px;
      width: 100%;
      background-color: #fbfbfb;
      border: 2px solid black;
    }

    .twoColumns{
      grid-column: 1/3;
    }


    @media (min-width: 600px) {
    .Ytterlista{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;


    }

    #form{
      display: grid;
      grid-template-columns: 1fr ;
      

    }
   
    .inputFields{
      width: 50%;
    }

    #formButton{
      width: 40%

    }

    .grid-container ul li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid black;
      padding: 10px;
      border-bottom: 1px solid #020202;
      margin: 10px;
      width: 50% ;
    }

    }

    .editer{
    width: 60px;
    margin-top: 20px;
color: black;
    }